name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

    - name: Deploy to EC2
      run: |
        ssh -i ubuntu@ec2-54-207-39-201.sa-east-1.compute.amazonaws.com << 'EOF'
        cd /home/ubuntu/dkpbot
        git pull origin main
        npm install
        pm2 restart all
        EOF
